<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midterm.todolistwidget">

    <application
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"> <!-- Thêm theme cho toàn bộ ứng dụng -->

        <!-- MainActivity -->
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AddTaskActivity -->
        <activity
            android:name=".activities.AddTaskActivity"
            android:exported="false" />

        <!-- TodoWidgetProvider (Widget Receiver) -->
        <receiver
            android:name=".widgets.TodoWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/todo_widget_info" />
        </receiver>

        <!-- TodoWidgetService (Service for RemoteViews) -->
        <service
            android:name=".widgets.TodoWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>
